html, body {
  font-family: "Raleway", serif !important;
}


/* .v-sheet {
  background-color: rgb(255 255 255 / 51%) !important;
  border: 1px solid rgb(173 247 49 / 61%) !important;
} */
.logo {

  font-size: 30px !important;
  color: #004D40;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 8px;
}

.logo span {
  color: rgb(72 112 6 );
}
.nuxt-link{
  text-decoration: none;
}
a:-webkit-any-link {
  color:#004D40;
}

nav.alternate-nav {
  position: relative;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.card-link {
text-decoration: none;
}
.menu-item.router-link-active {
  color:rgb(72 112 6 );
}
.menu-item.router-link-active::before {
  width: 100%;
  height: 2px;
  opacity: 1;
}
.menu-item {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(31, 49, 2);
  letter-spacing: 0.1rem;
  position: relative;
}
.menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(72 112 6 );
  transition: all 0.3s;
}
.menu-item:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  opacity: 1;
}
.hero-section {
  position: relative;
  background: rgb(199, 217, 169);
  background: linear-gradient(90deg, rgb(72 112 6 / 61%) 0%, rgba(199, 217, 169, 0.61) 61%);
  background-size: cover;
  width: 100vw;

}
.hero-caption {
  font-size: 146px;
  font-weight: 700;
  position: relative;
  color: rgb(255 255 255);
}

.hero-card {
  z-index: 3 !important;
  overflow: unset !important;
  border-radius: 10px 0px 0px 10px !important;
  position: fixed !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255 255 255 / 81%) !important;
  box-shadow: unset !important;
}

@keyframes sub-highlighting {
  0% {
    width: 5%;
    opacity: 0.25;
  }
  50% {
    width: 10%;
    opacity: 1;
  }
  100% {
    width: 5%;
    opacity: 0.25;
  }
}
.hero-subtitle,
.hero-subtitle .v-list-item-title {
  position: relative;
  font-size: 35px !important;
  color: rgb(72 112 6 ) !important;
  font-weight: bold !important;
  text-transform: none !important;
}

.hero-subtitle::before {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: -20px;
  height: 6px;
  animation-name: sub-highlighting;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transition: all 2s ease;
  animation-direction: initial;
  background: rgba(217, 255, 0, 0.781);
}

.modal-header {
  background: rgb(224 237 230) !important;
}

/* .v-main {
  background: rgb(209, 122, 122);
  background: linear-gradient(
    133deg,
    rgba(209, 122, 122, 0.25253851540616246) 0%,
    rgba(248, 251, 241, 1) 28%,
    rgba(248, 251, 241, 1) 42%,
    rgba(248, 251, 241, 0.7707457983193278) 64%,
    rgba(209, 122, 122, 0.23853291316526615) 99%
  );
} */


.active-group .v-card--variant-elevated, .v-card--variant-flat{
  background-color:  #6D9886 !important; color: white !important;
}


@media(min-width:1200px){
  .category-container{
    position:absolute;
    top:100%;
    right:0;
    transform: translateY(-50%);
    width:75%;
  }
  .hero-section{
    margin-bottom:100px;
    height: 91vh;

  }
  .hero-section .content-container{
    height: 100vh;

  }
}